name: Terraform Modules CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Add default azure config
      run: |
        cat <<EOF > provider.tf
          provider "azurerm" {
            features {}
          }
        EOF

    - name: Run a Terraform init
      uses: docker://hashicorp/terraform:0.12.11
      with:
        entrypoint: terraform
        args: init

    - name: Run a Terraform validate
      uses: docker://hashicorp/terraform:0.12.11
      with:
        entrypoint: terraform
        args: validate